Package: qtcreator-plugin-wizard-opaque-class
Version: 1.0-1
Section: devel
Priority: optional
Architecture: all
Depends: qtcreator (>= 3.0.0)
Maintainer: Morten Winkler Jørgensen <morten@winkler.dk>
Description: File Creation Wizard for QtCreator
  This package provides a wizard for the QtCreator IDE
  that creates classes with opaque pointers, move
  constructors and/or QObject specialization.
